* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Formato letras y fondo de todo el sitio web */
body {
  background-color: black;
}

/* --------- HEADER --------- */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  background-color: black;
}

.menu a img {
  height: 150px;
}

.menu nav ul {
  display: flex;
  list-style: none;
  /*border-bottom: 1px solid #7C7C7C;*/
}

.menu nav ul li {
  margin: 20px;
}

.menu nav ul li a {
  text-decoration: none;
  color: #ba9593;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.menu nav ul li a:before {
  content: " ";
  border-bottom: 2px solid greenyellow;
  position: absolute;
  bottom: -10px;
  width: 10%;
  opacity: 0;
  transition: 1s;
}

.menu nav ul li a.menu-activo::before,
.menu nav ul li a:hover::before {
  opacity: 1;
  width: 70%;
}
.menu nav ul li a.menu-activo,
.menu nav ul li a:hover {
  color: greenyellow;
}

/* --------- MAIN ---------*/
.hero {
  font-size: 20px;
  color: #f5e076;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.bienvenida {
  width: calc(100vh-164-206);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bienvenida img {
  width: 40%;
  padding: 20px;
  -webkit-box-shadow: 11px 8px 24px 5px rgba(211, 167, 238, 1);
  -moz-box-shadow: 11px 8px 24px 5px rgba(211, 167, 238, 1);
  box-shadow: 11px 8px 24px 5px rgba(211, 167, 238, 1);
}

.bienvenida p {
  color: #f5e076;
  text-align: justify;
  margin: 40px;
  font-family: "Montserrat", sans-serif;
}

.horarios {
  color: #f5e076;
  margin: 40px;
  font-family: "Montserrat", sans-serif;
}
.horarios h2 {
  text-align: center;
}
.horarios .horarios-salones ul {
  margin: 50px;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.horarios .horarios-salones ul li a {
  text-decoration: none;
  color: #f5e076;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.horarios .horarios-grilla p {
  font-size: 11px;
  margin-left: 10px;
}

.horarios .horarios-grilla table,
th,
td {
  margin: 10px 50px 10px 50px;
  border: 1px solid #f5e076;
}

.horarios .horarios-grilla table {
  border-collapse: collapse;
  width: 80%;
}

.horarios .horarios-grilla td {
  text-align: center;
}

.asociate {
  color: #f5e076;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}
.asociate h2 {
  text-align: center;
}
.asociate .asociate-formulario {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.asociate .asociate-formulario form select {
  margin-top: 20px;
  background: transparent;
  width: 280px;
  height: 35px;
  color: #f5e076;
  text-align: center;
}
.login form input,
.asociate .asociate-formulario form input {
  margin-top: 20px;
  background: transparent;
  width: 280px;
  height: 35px;
  color: #f5e076;
  text-align: center;
}

.asociate .asociate-formulario form textarea {
  margin-top: 20px;
  background: transparent;
  color: #f5e076;
}

.login #login-boton,
.asociate .asociate-formulario #asociate-boton {
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 15px;
  color: black;
  background-color: #f5e076;
}

.comollegar {
  color: #f5e076;
  font-family: "Montserrat", sans-serif;
  height: calc(100vh-100);
}

.comollegar section h2 {
  text-align: center;
}

.comollegar section iframe {
  margin: 50px;
}

.galeria {
  color: #f5e076;
  font-family: "Montserrat", sans-serif;
  height: calc(100vh-100);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6,1fr);
 gap:10px; 

}

.galeria h2 {
  text-align: center;
  grid-column: 1/7;
}

.galeria section  {
  font-size: 15px;
  grid-column: 1/7;
}

.galeria section img{
  padding: 20px;

}


.login {
  display: flex;
  justify-content: center;
  margin: 100px 150px 150px 150px;
}

.login #login-boton {
  margin: 50px 0px 30px 0px;
}
/* --------- FOOTER ---------*/

.pie {
  padding-left: 50px;
  padding-top: auto;
  margin-top: 40px;
  color: #ba9593;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 2.5fr 1fr;
  grid-template-areas: "pie-nombre pie-contacto pie-redes";
}

.pie .pie-nombre {
  grid-area: pie-nombre;
}
.pie .pie-contacto div {
  display: flex;
  justify-content: flex-start;
  grid-area: pie-contacto;
}

.pie .pie-contacto p {
  margin-left: 10px;
}
.pie .pie-contacto img {
  width: 3%;
}
.pie .pie-redes {
  grid-area: pie-redes;
}

.pie .pie-redes a img {
  width: 15%;
}
