* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Formato letras y fondo de todo el sitio web */
body {
  background-color: black;
}

/* --------- HEADER --------- */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  background-color: black;
}

.menu .menu-logo img {
  height: 150px;
}

.menu .menu-opciones {
  display: flex;
  list-style: none;
}

.menu .menu-opciones li {
  margin: 20px;
}

.menu .menu-opciones li a {
  text-decoration: none;
  color: #ba9593;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.menu .menu-opciones li a:before {
  content: " ";
  border-bottom: 2px solid greenyellow;
  position: absolute;
  bottom: -10px;
  width: 10%;
  opacity: 0;
  transition: 1s;
}

.menu .menu-opciones li a.menu-activo::before,
.menu .menu-opciones li a:hover::before {
  opacity: 1;
  width: 70%;
}

/* --------- MAIN ---------*/
.hero {
  font-size: 10px;
  color: rgb(247, 227, 147);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.indice-carrousel img {
  width: 600px;
  height: 350px;
}
.horarios {
  color: #edaa44;
  font-family: "Montserrat", sans-serif;
}
.horarios h2 {
  text-align: center;
  color: rgb(247, 227, 147);
}
.horarios .horarios-salones,
.horarios .horarios-grilla{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.horarios .horarios-salones ul {
  list-style: none;
}

.horarios .horarios-salones ul li a {
  text-decoration: none;
  color: #edaa44;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.horarios .horarios-grilla p {
  font-size: 11px;
  margin-left: 2%;
}

.horarios .horarios-grilla table,
th,
td {
  margin: 10px 50px 10px 50px;
  border: 1px solid #edaa44;
}

.horarios .horarios-grilla table {
  border-collapse: collapse;
  width: 80%;
}

.horarios .horarios-grilla td {
  text-align: center;
}

.asociate {
  color: #edaa44;
  font-family: "Montserrat", sans-serif;
}
.asociate h2 {
  text-align: center;
  color: rgb(247, 227, 147);
}
.asociate .asociate-formulario {
  display: flex;
  /* flex-direction: row-reverse;*/
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  align-items: center;
}

.asociate .asociate-formulario form select {
  margin-left: 20%;
  background: transparent;
  width: 50%;
  max-width: 250px;
  height: 35px;
  color: whitesmoke;
  text-align: center;
}

.asociate .asociate-formulario form input {
  margin-top: 20px;
  margin-left: 20%;
  background: transparent;
  /*width: 280px;  */
  width: 80%;
  height: 35px;
  text-align: center;
}

.asociate .asociate-formulario form textarea {
  margin-top: 20px;
  margin-left: 20%;
  background: transparent;
  color: #edaa44;
}

.asociate .asociate-formulario #asociate-boton {
  margin-top: 20px;
  margin-left: 20%;
  border-radius: 15px;
  color: black;
  background-color: whitesmoke;
}


.comollegar {
  color: rgb(247, 227, 147);
  font-family: "Montserrat", sans-serif;
  height: calc(100vh-100);
}

.comollegar section h2 {
  text-align: center;
}

.comollegar section iframe {
  margin: 50px;
}

.galeria {
  color: rgb(247, 227, 147);
  font-family: "Montserrat", sans-serif;
  height: calc(100vh-100);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.galeria h2 {
  text-align: center;
  grid-column: 1/7;
}

.galeria h3 {
  margin-left: 40px;
}
.galeria section {
  font-size: 15px;
  grid-column: 1/7;
}

.galeria section div img {
  margin: 20px;
  transition: 2s;
  -webkit-box-shadow: 11px 8px 24px 5px rgb(235, 227, 240);
  -moz-box-shadow: 11px 8px 24px 5px rgb(235, 227, 240);
  box-shadow: 11px 8px 24px 5px rgba(235, 227, 240);
}
.galeria section div img:hover {
  transform: scale(1.1);
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login #login-boton {
  margin-top: 20px;
  border-radius: 15px;
  color: black;
  background-color: whitesmoke;
}
.login form input {
  margin-top: 20px;
  background: transparent;
  width: 280px;
  height: 35px;
  color: #edaa44;
  text-align: center;
}
.login #login-boton {
  margin: 50px 0px 30px 0px;
  transition: 1s ease-in;
}

.login #login-boton:hover {
  background-color: greenyellow;
}

/* --------- FOOTER ---------*/

.pie {
  padding-left: 50px;
  margin-top: 40px;
  /*color: #ba9593;*/
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 2.5fr 1fr;
  grid-template-areas: "pie-nombre pie-contacto pie-redes";
}

.pie .pie-nombre {
  grid-area: pie-nombre;
}
.pie .pie-contacto div {
  display: flex;
  justify-content: flex-start;
  grid-area: pie-contacto;
}

.pie .pie-contacto p {
  margin: 0;
  margin-left: 10px;
}
.pie .pie-contacto img {
  width: 3%;
  height: 3%;
}
.pie .pie-redes {
  grid-area: pie-redes;
}

.pie .pie-redes a img {
  width: 15%;
}

/* --------- MQ ---------*/

@media screen and (max-width: 768px) {
  .pie {
    padding-left: 20px;
    padding-top: auto;
    margin-top: 20px;
    font-size: 10px;
  }
  .pie h2 {
    font-size: 15px;
  }
  .pie .pie-contacto p {
    margin-left: 10px;
  }
  .pie .pie-contacto img {
    width: 5%;
  }

  .pie .pie-redes a img {
    width: 20%;
  }
}

@media screen and (max-width: 1020px) {
  .menu .menu-opciones li {
    margin: 5px;
  }
  /* No muestro imagen en pantallas chicas */

  .asociate .asociate-formulario div img {
    display: none;
  }
}
