@import "../base/variables";

.menu { 
  background-color: nth($colores, 1);
  .menu-logo {
    a {
      img {
        height: 150px;
      }
    }
  }
  .menu-opciones {
    display: flex;
    list-style: none;
    li {
      margin: 20px;
      a {
        text-decoration: none;
        color: nth($colores, 2);
        font-size: nth($size-letra, 3);
        font-family: $font-letra;
        position: relative;
      }
    }
  }
}

.menu .menu-opciones li a:before {
  content: " ";
  border-bottom: 2px solid nth($colores, 5);
  position: absolute;
  bottom: -10px;
  width: 10%;
  opacity: 0;
  transition: 1s;
}

.menu .menu-opciones li a.menu-activo::before,
.menu .menu-opciones li a:hover::before {
  opacity: 1;
  width: 70%;
}
