@import "../base/variables";

/*****************  INDEX  ****************/
.hero {
  font-family: $font-letra;
  font-size: nth($size-letra, 1);
  color: nth($colores, 3);
  text-align: center;
}

.indice-carrousel {
  div {
    div {
      img {
        width: 600px;
        height: 350px;
      }
    }
  }
}

/**************  ASOCIATE ******************/
.asociate {
  margin-left: 20px;
  color: nth($colores, 4);
  font-family: $font-letra;
  h1 {
    text-align: center;
    color: nth($colores, 3);
  }
  .asociate-formulario {
    @include estructura-flex(flex, row-reverse wrap, space-evenly, center);
    div {
      form {
        div {
          select {
            width: 90%;
            height: 35px;
            text-align: center;
          }
        }
        div {
          input {
            margin-top: 20px;
            background: 0px;
            width: 90%;
            height: 35px;
            text-align: center;
          }
        }
        div {
          textarea {
            margin-top: 20px;
            background: transparent;
            resize: none;
          }
        }

        #asociate-boton {
          margin-top: 20px;
          width: 90%;
          height: 35px;
          border-radius: map-get($boton, borde);
          color: map-get($boton, color-letra);
          background-color: map-get($boton, color-fondo);
          transition: map-get($boton, tiempo-animacion);
          &:hover {
            background-color: nth($colores, 5);
          }
        }
      }
    }
  }
}

/**************  COMO LLEGAR  **************/
.comollegar {
  @include estructura-grid(grid, 1fr, 2fr);
  justify-items: center;
  h1 {
    color: nth($colores, 3);
    font-family: $font-letra;
  }

  iframe {
    width: 600px;
    height: 350px;
  }
}

/**************  GALERIA  ******************/
.galeria {
  height: calc(100vh-100);
  gap: 10px;
  h1 {
    color: nth($colores, 3);
    font-family: $font-letra;
    text-align: center;
  }
  section {
    h2 {
      color: nth($colores, 4);
      margin-left: 40px;
      font-size: nth($size-letra, 4);
    }
    div {
      img {
        margin: 20px;
        transition: 2s;
        box-shadow: 6px 7px 5px -1px rgba(213, 221, 222, 0.58);
        -webkit-box-shadow: 6px 7px 5px -1px rgba(213, 221, 222, 0.58);
        -moz-box-shadow: 6px 7px 5px -1px rgba(213, 221, 222, 0.58);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/**************  HORARIOS  *****************/
.horarios {
  h1 {
    text-align: center;
    color: nth($colores, 3);
  }
  color: nth($colores, 4);
  font-family: $font-letra;
  .horarios-salones {
    ul {
      list-style: none;
      li {
        a {
          text-decoration: none;
          color: nth($colores, 4);
          font-family: $font-letra;
          font-size: nth($size-letra, 3);
        }
      }
    }
  }
  .horarios-grilla {
    div {
      h2 {
        font-size: nth($size-letra, 3);
        margin-left: 13%;
      }
      p {
        font-size: nth($size-letra, 2);
        margin-left: 14%;
      }
      table {
        margin: 0 auto;
        color: nth($colores, 2);
        tbody {
          tr {
            td {
              font-size: nth($size-letra, 2);
              border: 1px solid nth($colores, 4);
            }
          }
        }
      }
      a {
        img {
          width: 2%;
          margin-left: 85%;
        }
      }
    }
  }
}

/**************  LOGIN  ********************/
.login {
  @include estructura-flex(flex, column wrap, center, center);
  form {
    div {
      input {
        margin-top: 20px;
        background: transparent;
        width: 280px;
        height: 35px;
        color: nth($colores, 4);
        text-align: center;
      }
    }
    #login-boton {
      width: 280px;
      height: 35px;
      margin: 50px 0px 30px 0px;
      border-radius: map-get($boton, borde);
      color: map-get($boton, color-letra);
      background-color: map-get($boton, color-fondo);
      transition: map-get($boton, tiempo-animacion);
      &:hover {
        background-color: nth($colores, 5);
      }
    }
  }
}
