/* --------- MQ ---------*/
@media screen and (max-width: 768px) {
  .comollegar iframe {
    width: 70%;
    height: 300px;
  }
  .pie {
    padding-left: 20px;
    padding-top: auto;
    margin-top: 20px;
    font-size: 10px;
    div {
      h2 {
        font-size: 15px;
      }
    }
    .pie-contacto {
      div {
        img {
          width: 5%;
        }
        p {
          margin-left: 10px;
        }
      }
    }
    .pie-redes {
      a {
        img {
          width: 20%;
        }
      }
    }
  }
}
/***** pone menu de salones vertical  en monitores **/

@media screen and (min-width: 1000px) {
  .horarios {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    h1 {
      grid-column: 1/4;
      justify-content: center;
    }
    .horarios-salones {
      ul {
        grid-column: 1/2;
        width: 25%;
        position: fixed;
        overflow: auto;
        li {
          margin: 5% 5% 5% 35%;
          a {
            display: block;
          }
        }
      }
    }
    
    .horarios-grilla {
      div {
        grid-column: 1/3;
        h2 {
          margin-left: 4%;
        }
        p {
          font-size: nth($size-letra,2);
          margin-left: 3%;
        }
        table {
          margin: 2% auto;
          color: nth($colores,2);
          tbody {
            tr {
              td {
                font-size: nth($size-letra,2);
                border: 1px solid nth($colores,4);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .menu .menu-opciones li {
    margin: 5px;
  }

  /********** No muestro imagen en pantallas chicas ********/
  .asociate {
    .asociate-formulario {
      div {
        img {
          display: none;
        }
      }
    }
  }
}
