/* --------- MQ ---------*/
@media screen and (max-width: 768px) {
  .comollegar iframe {
    width: 70%;
    height: 300px;
  }
  .pie {
    padding-left: 20px;
    padding-top: auto;
    margin-top: 20px;
    font-size: 10px;
    div {
      h2 {
        font-size: 15px;
      }
    }
    .pie-contacto {
      div {
        img {
          width: 5%;
        }
        p {
          margin-left: 10px;
        }
      }
    }
    .pie-redes {
      a {
        img {
          width: 20%;
        }
      }
    }
  }
}
// No muestra tabla de horarios en dispositivos chicos
@media screen and (max-width: 700px) {
  .horarios {
    .horarios-salones {
      ul {
        width: 25%;
        position: fixed;
        overflow: auto;
        li {
          margin: 5% 5% 5% 35%;
          a {
            display: block;
          }
        }
      }
    }
    .horarios-grilla {
      div {
        h2 {
          margin-left: 2.5%;
        }
        p {
          font-size: nth($size-letra, 2);
          margin-left: 3%;
        }
        table {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .menu .menu-opciones li {
    margin: 5px;
  }

  /********** No muestro imagen en pantallas chicas ********/
  .asociate {
    .asociate-formulario {
      div {
        img {
          display: none;
        }
      }
    }
  }
}
