$font-letra: "Montserrat", sans-serif;
/**************  HEADER  ********************/

$size-letra-menu: 15px;

/************  MAIN  **********************/

$size-letra-titulo: 10px;
$size-letra-cuerpo: 11px;
/*
$color-fondo: black;
$color-menu: whitesmoke;
$color-titulo: rgb(247, 227, 147);
$color-cuerpo: #edaa44;
$color-formulario: whitesmoke;
$color-animacion: greenyellow;*/

/************  LISTAS  **********************/
$colores:
    black,
    whitesmoke,
    rgb(247, 227, 147),
    #edaa44,
    greenyellow;
