$font-letra: "Montserrat", sans-serif;

/************  LISTAS  **********************/
/* colores:
    1: fondo
    2: manu y formularios
    3: titulo
    4: cuerpo
    5: animaciones
*/
$colores:
    black,  
    whitesmoke, 
    rgb(247, 227, 147),  
    #edaa44, 
    greenyellow;

/* tamaños textos:
    1: 10px
    2: 11px
    3: 15px
*/
$size-letra:
10px,
11px,
15px;

/************  MAPAS  **********************/
$boton:(
    borde: 15px,
    color-letra: nth($colores,1),
    color-fondo: nth($colores,2),
    tiempo-animacion: 1s ease-in,
)
