$color-fondo: black;
$font-letra: "Montserrat", sans-serif;
/**************  HEADER  ********************/
$color-menu: whitesmoke;
$size-letra-menu: 15px;

/************  MAIN  **********************/
$color-titulo: rgb(247, 227, 147);
$size-letra-titulo: 10px;
$color-cuerpo: #edaa44;
$size-letra-cuerpo: 11px;
$color-formulario: whitesmoke;
$color-animacion: greenyellow;
